nav.navbar.navbar-default.navbar-fixed-top.navbar-inverse
    .container-fluid
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/') User Demo
        .navbar-collapse.collapse
            ul.nav.navbar-nav
            ul.nav.navbar-nav.navbar-right
                if !user
                    li
                        a(href='/#!/register') Register
                    li
                        a(href='/#!/login') Log In
                else
                    li.dropdown
                        a(href="#",data-toggle="dropdown",role="button").dropdown-toggle
                            span.glyphicon.glyphicon-user
                            | &nbsp; #{user.firstname} #{user.lastname}
                            span.caret
                            ul(role="menu").dropdown-menu
                                li
                                    a(href='/#!/profile') Profile
                                li.divider
                                li
                                    a(href='/users/util/logout') Log Out