
extends layout

block content
	#reset-container.well.span4
		form( method="post")#reset-form.form-horizontal

			.form-group
				.col-xs-offset-2.col-xs-10
					legend Reset Password

			input(type="text", name="key",hidden, value="#{key}")

			.form-group
				label(for="password").control-label.col-xs-2 Password
				.col-xs-10
					input(type="password", name="password",placeholder="Password"
					,required,pattern=".{5,10}", title="5 to 10 characters")#password.form-control

			.form-group
				label(for="cpassword").control-label.col-xs-2 Confirm Password
				.col-xs-10
					input(type="password", name="cpassword",placeholder="Password"
					,required,pattern=".{5,10}", title="5 to 10 characters")#cpassword.form-control

			.form-group
				.col-xs-offset-2.col-xs-10
					input(type="submit",value="Reset Password")#btn-signup.btn.btn-primary


block scripts
	script(src="/js/signup.js")
