
extends layout

block content
	#sendreset-container.well.span4
		form( method="post")#sendreset-form.form-horizontal

			.form-group
				.col-xs-offset-2.col-xs-10
					legend Reset Your Password

			.form-group
				label(for="username").control-label.col-xs-2 User name
				.col-xs-10
					input(type="text", name="username",placeholder="User name",required,
					pattern=".{5,10}", title="5 to 10 characters")#username.form-control

			.form-group
				.col-xs-offset-2.col-xs-10
					input(type="submit",value="Send Password Reset Email")#btn-sendreset.btn.btn-primary

			.form-group
				.col-xs-offset-2.col-xs-10
					p
						| An email will be sent with a link to reset your password.
block scripts

