
extends layout

block content
	#signin-container.well.span4
		form( method="post")#signin-form.form-horizontal

			.form-group
				.col-xs-offset-2.col-xs-10
					legend Sign in

			.form-group
				label(for="username").control-label.col-xs-2 Username
				.col-xs-10
					input(type="text", name="username",placeholder="Username",required,
					pattern=".{5,10}", title="5 to 10 characters")#username.form-control

			.form-group
				label(for="password").control-label.col-xs-2 Password
				.col-xs-10
					input(type="password", name="password",placeholder="Password"
					,required,pattern=".{5,10}", title="5 to 10 characters")#password.form-control

			.form-group
				.col-xs-offset-2.col-xs-10
					input(type="submit",value="Sign in")#btn-signin.btn.btn-primary

			.form-group
				.col-xs-offset-2.col-xs-10
					p
						| Forgot your password? &nbsp;
						a(href='/sendreset') Reset
					p
						| Don't have an account? &nbsp;
						a(href='/signup') Sign up now!

			.form-group
				.col-xs-offset-2.col-xs-10
					a.btn.btn-block.btn-google.btn-social(href='/auth/google')
						i.fa.fa-google-plus
						| Sign in with Google

block scripts

